# Data Science Tools and Ecosysytem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List commonly used languages for data science
- List commonly used libraries in data science
- Indictae three development environment open source tools used in data science

Some of the popular languages that Data Scientists use are: 
1. Python
2. SQL
3. Java

Some of the commonly used Libraries used by Data Scientists include: 
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools | 
| ------------------ |
| Jupyter Notebook | 
| RStudio |
| Spyder |

Below are a few example of evaluating arithmetic expressions in Python

In [13]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

George K